extends layout.pug
block content
  div#game-page
    h1(id="game-title")=`${game.name}`
    div#game-container
      div
        img(src=`${game.img}`, alt="")
        div 
          h2= `Average Rating = ${averageReviewScore}`
        div 
          h2= `Genre: ${game.Genre.name}`
          form(action="/shelves/add" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="gameId" value=`${game.id}`)
            select(id="shelf-selection" name="shelfId")
              each shelf in shelves
                option(value=`${shelf.id}`)=`${shelf.name}`
            button(type="submit" id="addToShelfButton") Add To Shelf
      div
        p=`${game.description}`
      div
        h2 Reviews
        each review in reviews 
          div.review-container
            div.review-username 
              p= `${review.User.username}`
            div 
              p= `${review.review}`

    div#game-shelf-container
    div#game-genre-container
      ul
        each genre in genres
          li
            a(href=`genres/${genre.id}`)= genre.name
