extends layout.pug
append head
  //- add page specific js
  script(src="/javascripts/game.js" type="module" )
block content
  div#game-page
    h1(id="game-title")=`${game.name}`
    div#game-container
      div
        img(src=`${game.img}`, alt="")
        div
          h2= `Average Rating = ${averageReviewScore}`
        div
          h2= `Genre: ${game.Genre.name}`
          if shelves
            form(action="/shelves/add" method="post")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="hidden" name="gameId" value=`${game.id}`)
              button(class='hideMovButton' type='button' href='#' onclick='hideMoveButton()') Add to Shelf
              select(class='showMovDrop' id="shelf-selection" name="shelfId")
                each shelf in shelves
                  option(class='showMovDrop' value=`${shelf.id}`)=`${shelf.name}`
              button(class='showMovDrop' type="submit" id="addToShelfButton") Add To Shelf
      div
        p=`${game.description}`
      if locals.authenticated
        input(type="hidden" name="userId" value=`${locals.user.id}`, id="fetchUserId")
        div#user-review-box
      h2 Reviews
        container#reviews-container
    div#game-shelf-container
    if shelves
      div#game-genre-container
        ul
          each genre in genres
            li
              a(href=`genres/${genre.id}`)= genre.name
  script.
    let showMoveDrop = () => {
                document.querySelectorAll('.showMovDrop').forEach(el =>{
                el.style.display='block'
                })
            }
            let hideMoveButton = () => {
                document.querySelectorAll('.hideMovButton').forEach(el => {
                el.style.display='none'
                })
                showMoveDrop()
            }
