extends layout.pug
append head
  //- add page specific js
  script(src="/javascripts/game.js" type="module" )
block content
  input(type="hidden" name="gameId" value=`${game.id}`, id="fetchGameId")
  div#game-page
    h1(id="game-title")=`${game.name}`
    div#game-container
      div
        img(src=`${game.img}`, alt="")
        div 
          h2= `Average Rating = ${averageReviewScore}`
        div 
          h2= `Genre: ${game.Genre.name}`
          if shelves
            form(action="/shelves/add" method="post")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="hidden" name="gameId" value=`${game.id}`)
              select(id="shelf-selection" name="shelfId")
                each shelf in shelves
                  option(value=`${shelf.id}`)=`${shelf.name}`
              button(type="submit" id="addToShelfButton") Add To Shelf
      div
        p=`${game.description}`
      if locals.authenticated
        if !userReview
          input(type="hidden" id="userReview" value="")
        div
            h3 Leave a Review!
            div#review-box
              select(name="rating")  
                option(value="1") 1 
                option(value="2") 2 
                option(value="3") 3 
                option(value="4") 4 
                option(value="5") 5 
              div   
                textarea(name="review", cols="30", rows="10") 
              button(id="submitReview") Post Review
      h2 Reviews
        if reviews.length
          each review in reviews 
            div.review-container
              div.review-username 
                p= `${review.User.username}`
              div 
                p= `${review.review}`
        else 
           div.review-container
              div 
                p= `No Reviews yet`

    div#game-shelf-container
    if shelves
      div#game-genre-container
        ul
          each genre in genres
            li
              a(href=`genres/${genre.id}`)= genre.name
