extends layout.pug
append head
  script(src="/javascripts/game.js" type="module" )
block content
  div#game-page
    div#game-container
      div#game-title
        h1=`${game.name}`
      div#game-section
        img(src=`${game.img}`, alt="")
        div
          h2#averageReviewScore= `Average Rating: ${averageReviewScore}`
        div
          h2= `Genre: ${game.Genre.name}`
          if shelves
            form(action="/shelves/add" method="post")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="hidden" name="gameId" value=`${game.id}`)
              button(class='hideMovButton' type='button' href='#' onclick='hideMoveButton()') Add to Shelf
              select(class='showMovDrop' id="shelf-selection" name="shelfId")
                each shelf in shelves
                  option(class='showMovDrop' value=`${shelf.id}`)=`${shelf.name}`
              button(class='showMovDrop' type="submit" id="addToShelfButton") Add To Shelf
      div#game-description
        h2 Description
        p=`${game.description}`
      if locals.authenticated
        input(type="hidden" name="userId" value=`${locals.user.id}`, id="fetchUserId")
        div#user-review-box
      div#all-reviews-box
        h2 Reviews
        div#reviews-container
    if locals.authenticated
      div#game-shelf-container
        h2 Shelves
        ul
          if containedShelves.length
            each shelf in containedShelves
              li
                a(href=`/shelves/${shelf.id}`)= `${shelf.name}`
          else 
            li= "Not in any shelf"
    div#game-genres-container
      h2 Genres
      ul
        each genre in genres
          li
            a(href=`/genres/${genre.id}`)= genre.name
  script.
    let showMoveDrop = () => {
      document.querySelectorAll('.showMovDrop').forEach(el =>{
        el.style.display='block'
      })
    }
    let hideMoveButton = () => {
      document.querySelectorAll('.hideMovButton').forEach(el => {
        el.style.display='none'
      })
      showMoveDrop()
    }
