mixin validationErrorSummary(errors)
  if errors
    div
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null, required = false)
  div
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      if required 
        textarea(id=fieldName name=fieldName rows='5' required)= fieldValue
      else
        textarea(id=fieldName name=fieldName rows='5')= fieldValue
    else
      if required
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder required)
      else 
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)
